* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 60px;
}

/* Centralizador do site */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Cabeçalho */
.site-header {
    text-align: center;
    margin-bottom: 50px;
}

.container-logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 15px;
}

/* Tamanho controlado para a sua logo não quebrar o layout */
.logo {
    max-width: 80px;
    height: auto;
    margin-left: 150px;
}

.container-logo h1 {
    font-size: 3rem;
    color: #a04ef6; /* Roxo principal */
}

.subtitulo {
    color: #aaaaaa;
    max-width: 600px;
    margin: 0 auto 20px auto;
    font-size: 1rem;
    line-height: 1.5;
}

/* Menu de links rapidos (Forza e Subnautica) */
.links-rapidos ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.links-rapidos a {
    color: #ffffff;
    text-decoration: none;
    background-color: #151515;
    padding: 8px 16px;
    border-radius: 4px;
    border-left: 3px solid #a04ef6;
    transition: background 0.2s;
    font-size: 0.9rem;
}

.links-rapidos a:hover {
    background-color: #222222;
}

/* Seção de Notícias */
.noticias-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 35px;
    letter-spacing: 1px;
}

/* Sistema de Cards em Linha (Grid) */
.grid-noticias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

/* O Card Individual */
.card {
    background-color: #111111;
    border: 1px solid #99049e;
    border-radius: 8px;
    transition: transform 0.3s, border-color 0.3s;
    box-shadow:3px 3px 3px 5px #3c1a5f;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #a04ef6;
}

.card-conteudo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-conteudo h3 {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 1.4;
}

.card-conteudo p {
    color: #999999;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 20px;
    flex-grow: 1; /* Alinha os botões na mesma altura */
}

/* Botão de ler mais */
.btn-ler-mais {
    color: #a04ef6;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.85rem;
    text-transform: uppercase;
}

.btn-ler-mais:hover {
    color: #ffffff;
}

ul{
    display: flex;
    padding: 20px;
    gap: 20px;
    height: auto;
}

.container-logo nav{
    margin-left: 250px;
}

.container-logo ul{
    display: flex;
    gap: 85px;
}
